<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@300&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="static/css/DevDay/frontpage.css">
    <title>DevDay 개발일지</title>
    <script>
        $(document).ready(function () {
            $('#for_loginuser').hide();
            $('#for_notloginuser').hide();
            check_login();
            CallGetUserInfoAPI();
            $('#cards-box').empty();
            listing();
        });


        function listing() {
            $.ajax({
                type: "POST",
                url: "/devday",
                data: {},
                success: function (response) {
                    let result = response['result'];
                    let success = result['success'];
                    if (success == 'true') {
                        let devday_list = result['row']
                        for (let i = 0; i < devday_list.length; i++) {
                            let user_id = devday_list[i]['user_id']
                            let dev_id = devday_list[i]['dev_id']
                            let title = devday_list[i]['subject']
                            let memo = devday_list[i]['memo2']
                            let emoticon = devday_list[i]['emoticon']
                            let category = devday_list[i]['category']
                            let date = devday_list[i]['date']
                            let like_count = devday_list[i]['like_count']
                            let comment_count = devday_list[i]['comment_count']

                            let temp_html = `<div class="card" onclick="window.location.href = 'mydev/${dev_id}'">
                                                    <div class="card-top">
                                                        <span class="card-text date">${date}</span>
                                                        <span class="emoticon">${category}</span>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-title">${title}</p>
                                                        <p class="card-text">${memo}</p>
                                                    </div>
                                                    <div class="card-bottom">
                                                        <span class="user-id">${user_id}</span>
                                                        <span><i class="bi bi-heart"></i>${like_count}</span>
                                                        <span><i class="bi bi-chat-left-dots"></i>${comment_count}</span>
                                                    </div>`
                            $('#cards-box').append(temp_html)
                        }

                        var i = 0;
                        $('i').on('click', function () {
                            if (i == 0) {
                                $(this).attr('class', 'bi-heart-fill');
                                i++;
                            } else if (i == 1) {
                                $(this).attr('class', 'bi-heart');
                                i--;
                            }}
                        )
                    };

                }
            })
        }

		function logout() {
            $.removeCookie('mytoken', { path: '/' });
            window.location.href = '/user'
        }
		
		function check_login() {
            $.ajax({
                type: 'POST',
                url: '/user/islogin',
                data: {},
                success: function (response) {
                    let result = response['result'];
                    let success = result['success'];
                    let message = result['message'];
                    if (success == 'true') {
                        $('#for_loginuser').show();
                    } else {
                        $('#for_notloginuser').show();
                    }
                }
            });
        }

        function CallGetUserInfoAPI() {
            // 사용자 정보 요청 ajax API Call하여 사용자 정보 json 데이터 받아 화면 갱신하기
            $.ajax({
                type: 'POST',
                url: '/user/info',
                async: false,
                data: {},
                success: function (response) {
                    let result = response['result'];
                    let success = result['success'];
                    let message = result['message'];
                    if (success == 'true') {
                        let userinfo = result['row'][0];
                        let user_id = userinfo['user_id']
                        let user_name = userinfo['user_name']

                        userName = user_name;
                        userID = user_id;

                        let temp_html = `
                                <a href="/user/data" id="logname">${user_id}</a>
                                <a href="#" id="logout" onclick="logout();">로그아웃</a>`
                        $("#for_loginuser").append(temp_html)
                    } else {
                        let temp_html = `로그인된 사용자 정보가 없습니다.`
                        $("#for_loginuser").append(temp_html)
                    }
                }
            });
        }
    </script>
</head>
<body>
<header>
    <a href="/" id="titlelogo">
        <img class="logo-img" src="/static/css/MyDev/img/logo.png" alt="로고"/>
        <h1>MyDevDay</h1><small>한땀한땀<br>개발일지</small>
    </a>
    <nav id="for_loginuser">
        <a href="/mydev/write">글 쓰기</a>
        <a href="/mydev">내 글 목록</a>
    </nav>
    <nav id="for_notloginuser">
        <a href="/user" id="user_name">로그인</a>
        <a href="/user/signup">회원가입</a>
    </nav>
</header>
<h1 class="front_title">Everyone's Development Log</h1>
<div class="container" id="cards-box">
    <div class="card">
        <div class="card-top">
            <span class="emoticon"></span>
            <span class="card-text date">2022년 5월 7일</span>
        </div>
        <div class="card-body">
            <h3 class="card-title">일지 제목</h3>
            <p class="card-text">개발이 어렵다. 어떻게 하면 더 잘할 수 있을까.</p>
        </div>
        <div class="card-bottom">
            <span class="user-id">작성자명: OOO</span>
            <span><i class="bi bi-heart"></i></span>
            <span><i class="bi bi-chat-left-dots"></i></span>
        </div>
    </div>
    <div class="card">
        <div class="card-top">
            <span class="emotion"></span>
            <span class="card-text date">2022년 5월 7일</span>
        </div>
        <div class="card-body">
            <h3 class="card-title">일지 제목</h3>
            <p class="card-text">개발이 어렵다. 어떻게 하면 더 잘할 수 있을까.</p>
        </div>
        <div class="card-bottom">
            <span class="user-id">작성자명: OOO</span>
            <span><i class="bi bi-heart"></i></span>
            <span><i class="bi bi-chat-left-dots"></i></span>
        </div>
    </div>
</div>
</body>
</html>