<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>MyDevDay</title>
    <style>
    * {
        
    }
    </style>
    <script>
        $(document).ready(function () {
        });
    </script>
</head>

<body>

<div class="container">
<h1>MyDevDay</h1>
<hr>
<a href="./user">user</a><br>
<a href="./mydevday/202205">mydevday</a><br>
<a href="./devday/202205">devday</a><br>
</div>

</body>

</html>