<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
    <title>Frontpage</title>
    <style>
        * {
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans Korean', sans-serif;
    }

    h1, p, div {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
        padding-right: 10px;
    }

    header {
        height: 80px;
        padding: 1rem;
        background: #B4DADC;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        align-self: end;
    }

    .card-columns wrap {
        padding: 50px;
        width: auto;
        height: 75vh;
        margin: auto 40px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }


    .card {
        background-color: white;
        width: 20%;
        min-width: 300px;
        height: 158px;
        min-height: 280px;
        padding: 50px 50px;
        margin: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    h3 {
        margin-bottom: 20px;
        font-size: 2rem;
    }


    </style>
    <script>
        $(document).ready(function () {
            $('#cards-box').empty();
            listing();
            user_valid();
            {#devday();#}
        });

        function listing() {
            $.ajax({
                type: "GET",
                url: "/devday",
                data: {},
                success: function (response) {
                    let rows = response['articles']
                    for (let i = 0; i < rows.length; i++) {
                        let user_id = rows[i]['user_id']
                        let title = rows[i]['title']
                        let memo = rows[i]['memo']
                        let date = rows[i]['date']
                        let like_count = rows[i]['like_count']
                        let comment_count = rows[i]['comment_count']

                        let temp_html = `<div class="card-columns wrap" id="cards-box">
                                            <div class="card">
                                                <div class="card-top">
                                                     <p class="card-text date">${date}</p>
                                                </div>
                                                <div class="card-body">
                                                    <h3 class="card-title">${title}</h3>
                                                    <p class="card-text">${memo}</p>
                                                </div>
                                                <div class="card-bottom">
                                                    <p class="user-id">작성자명: ${user_id}</p>
                                                </div>
                                                <div>
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"> ${like_count}</span>
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"> ${comment_count}</span>
                                                </div>
                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

//user/api 로그인한 유저를 표시합니다
function user_valid() {
    $.ajax({
        type: 'GET',
        url: '/user/info',
        data: {},
        success: function (response) {
            let nickname = response['nickname']
            temp_html = `${nickname}`
            $('#my_name').append(temp_html)
        }})}

//mydev 작성한 시간 보여주기 (ex. 1 시간전, 3 분전 작성)
function time2str(date) {
    let today = new Date()
    let time = (today - date) / 1000 / 60  // 분

    if (time < 60) {
        return parseInt(time) + "분 전"
    }
    time = time / 60  // 시간
    if (time < 24) {
        return parseInt(time) + "시간 전"
    }
    time = time / 24
    if (time < 2) {
        return parseInt(time) + "일 전"
    }
    return `${date.getFullYear()}년 ${date.getMonth() + 1}월 ${date.getDate()}일`
}

//mydev GET/api 유저별 글 & 전체 글 listing() ->
function devday(dev_id) {
    if (dev_id == undefined) {
        dev_id = ""
    }
    $("#mydevs").empty()
    $.ajax({
        type: "GET",
        url: `/devday?username_give=${dev_id}`,
        data: {},
        success: function (response) {
            if (response["result"] == "success") {
                let rows = response["posts"]
                for (let i = 0; i < rows.length; i++) {
                    let subject = rows[i]['subject']
                    let content = rows[i]['content']
                    let id = rows[i]['id']
                    let time_post = new Date(rows[i]['date'])
                    let time_before = time2str(time_post)
                    let temp_html = `<div class="card-columns wrap" id="cards-box">
                                    <div class="card">
                                        <div class="card-top">
                                             <p class="card-text date">${time_before}</p>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">${subject}</h3>
                                            <p class="card-text">${content}</p>
                                        </div>
                                        <div class="card-bottom">
                                            <p class="user-id">작성자명: ${id}</p>
                                        </div>
                                        <div>
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"> ${like_count}</span>
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"> ${comment_count}</span>
                                        </div>
                                    </div>
                                </div>`
                $('#cards-box').append(temp_html)
                }
            }
        }
    })
}

    </script>
</head>
<body>
<header>
    <a href="/"><h1>MyDevDay</h1></a>
    <nav>
        <a href="/write">글 쓰기</a>
        <a href="/read">일지 목록</a>
        <a href="/login">로그인</a>
        <a href="/sign">회원가입</a>
        <div id="my_name"></div>
    </nav>
</header>
<div class="card-columns wrap" id="cards-box">
    <div class="card">
        <div class="card-top">
             <p class="card-text date">2022년 5월 7일</p>
        </div>
        <div class="card-body">
            <h3 class="card-title">일지 제목</h3>
            <p class="card-text">개발이 어렵다. 어떻게 하면 더 잘할 수 있을까.</p>
        </div>
        <div class="card-bottom">
            <p class="user-id">작성자명: OOO</p>
        </div>
        <div>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 20</span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 30</span>
        </div>
    </div>
    <div class="card">
        <div class="card-top">
             <p class="card-text date">2022년 5월 7일</p>
        </div>
        <div class="card-body">
            <h3 class="card-title">일지 제목</h3>
            <p class="card-text">개발이 어렵다. 어떻게 하면 더 잘할 수 있을까.</p>
        </div>
        <div class="card-bottom">
            <p class="user-id">작성자명: OOO</p>
        </div>
        <div>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 20</span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 30</span>
        </div>
    </div>
    <div class="card">
        <div class="card-top">
             <p class="card-text date">2022년 5월 7일</p>
        </div>
        <div class="card-body">
            <h3 class="card-title">일지 제목</h3>
            <p class="card-text">개발이 어렵다. 어떻게 하면 더 잘할 수 있을까.</p>
        </div>
        <div class="card-bottom">
            <p class="user-id">작성자명: OOO</p>
        </div>
        <div>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 20</span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 30</span>
        </div>
    </div>
    <div class="card">
        <div class="card-top">
             <p class="card-text date">2022년 5월 7일</p>
        </div>
        <div class="card-body">
            <h3 class="card-title">일지 제목</h3>
            <p class="card-text">개발이 어렵다. 어떻게 하면 더 잘할 수 있을까.</p>
        </div>
        <div class="card-bottom">
            <p class="user-id">작성자명: OOO</p>
        </div>
        <div>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 20</span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 30</span>
        </div>
    </div>
    <div class="card">
        <div class="card-top">
             <p class="card-text date">2022년 5월 7일</p>
        </div>
        <div class="card-body">
            <h3 class="card-title">일지 제목</h3>
            <p class="card-text">개발이 어렵다. 어떻게 하면 더 잘할 수 있을까.</p>
        </div>
        <div class="card-bottom">
            <p class="user-id">작성자명: OOO</p>
        </div>
        <div>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 20</span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 30</span>
        </div>
    </div>
    <div class="card">
        <div class="card-top">
             <p class="card-text date">2022년 5월 7일</p>
        </div>
        <div class="card-body">
            <h3 class="card-title">일지 제목</h3>
            <p class="card-text">개발이 어렵다. 어떻게 하면 더 잘할 수 있을까.</p>
        </div>
        <div class="card-bottom">
            <p class="user-id">작성자명: OOO</p>
        </div>
        <div>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 20</span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> 30</span>
        </div>
    </div>
</div>
</body>
</html>