<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>MyDevDay | mydev</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <script>
        function CallMyDevListAPI(yearmonth) {
            // /mydev/yyyyMM (POST)로 ajax API Call하여 내가 작성한 글 정보 json 데이터 받아 화면 갱신하기
            //alert('mydevlist api: ' + yearmonth);

            $.ajax({
                type: 'POST',
                url: './mydev/' + yearmonth,
                data: {},
                success: function (response) {
                    let result = response['result'];
                    let success = result['success'];
                    let message = result['message'];
                    if (success == 'true') {
                        let devday_list = result['row']
                        for (let i = 0; i < devday_list.length; i++) {
                            let user_id = devday_list[i]['user_id']
                            let dev_id = devday_list[i]['dev_id']
                            let subject = devday_list[i]['subject']
                            let content = devday_list[i]['content']
                            let memo1 = devday_list[i]['memo1']
                            let memo2 = devday_list[i]['memo2']
                            let memo3 = devday_list[i]['memo3']
                            let memo4 = devday_list[i]['memo4']
                            let memo5 = devday_list[i]['memo5']
                            let feeling = devday_list[i]['feeling']
                            let emoticon = devday_list[i]['emoticon']
                            let date = devday_list[i]['date']
                            let like_count = devday_list[i]['like_count']

                            let temp_html = `user_id=${user_id}, dev_id=${dev_id}, subject=${subject}, content=${content},
                                memo1=${memo1}, memo2=${memo2}, memo3=${memo3}, memo4=${memo4}, memo5=${memo5},
                                feeling=${feeling}, emoticon=${emoticon}, date=${date}, like_count=${like_count},`

                            $(".test-result").append(temp_html + '<br>')
                        }
                    }                    
                }
            });
        }

        $(document).ready(function () {
            CallMyDevListAPI(202205);
        });
    </script>
</head>

<body>

<div class="container">
    <h1>내 글 목록 화면</h1>
    <hr>
    내가 작성한 글 목록<br>
    <br>
    <br>
    <a href="./">메인 페이지로 이동</a><br>
</div>
<br>
<br>

<div class="test">
    <h3>테스트 API 호출</h3>
    <hr>
    <a onclick="CallMyDevListAPI(202203)">202203 목록 요청</a><br>
    <a onclick="CallMyDevListAPI(202204)">202204 목록 요청</a><br>
    <a onclick="CallMyDevListAPI(202205)">202205 목록 요청</a><br>
    <br>
    <h5>테스트 결과</h5>
    <hr>
    <div class="test-result">
    </div>
</div>

</body>

</html>