<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    JQuery-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> <!-- jQuery cookie 함수-->
    <title>MyDevDay | read</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script>
        $(document).ready(function () {
        });
    </script>
</head>

<body>

<div class="container">
    <h1>글 보기 화면</h1>
    <hr>
    <br>
    <br>
    <a href="/mydev">글목록 페이지로 이동</a><br>
    <a href="/">메인 페이지로 이동</a><br>
</div>
<br>
<br>

</body>

</html>