<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    JQuery-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- jQuery cookie 함수-->
    <title>MyDevDay | write</title>

    <link rel="stylesheet" href="/static/css/MyDev/write.css"/>
    <script>
        let userName;
        let userID;

        $(document).ready(function () {
            $('#for_loginuser').hide();
            $('#for_notloginuser').hide();
            check_login();
            CallGetUserInfoAPI();
            getPost();
        });

        function resize(obj) {
            obj.style.height = "1px";
            obj.style.height = (12 + obj.scrollHeight) + "px";
        }

        function getEmoticon(ths) {
            let emot = $(ths).text();
            $("#emoticon").val(emot);
        }

        function getToday() {
            let date = new Date();
            let year = date.getFullYear();
            let month = ("0" + (1 + date.getMonth())).slice(-2);
            let day = ("0" + date.getDate()).slice(-2);

            let hours = ('0' + date.getHours()).slice(-2);
            let minutes = ('0' + date.getMinutes()).slice(-2);
            let seconds = ('0' + date.getSeconds()).slice(-2);

            let timeString = hours + ':' + minutes + ':' + seconds;

            return year + "." + month + "." + day + " " + timeString;
        }

        function write_post() {
            let devID = '{{devid}}';
            if (devID === "") {
                // 일지 작성 요청
                let writer = userID;
                let date = getToday();
                let dev_title = $("#dev_title").val();
                if (dev_title === "") {
                    alert("제목을 입력해주세요.");
                    return;
                }
                let category = $("#category").val();
                if (category === "") {
                    alert("카테고리를 선택해 주세요");
                    return;
                }
                let myGoal = $("#myGoal").val();
                let todayLearned = $("#todayLearned").val();
                let todoList = $("#todoList").val();
                let feeling = $("#emotion").val();
                let emoticon = $("#emoticon").val();

                console.log(writer, date, dev_title, category, myGoal, todayLearned, todoList, feeling, emoticon)


                $.ajax({
                    type: "POST",
                    url: "/mydev/write",
                    data: {
                        writer_give: writer,
                        date_give: date,
                        title_give: dev_title,
                        category_give: category,
                        goal_give: myGoal,
                        todayLearned_give: todayLearned,
                        todoList_give: todoList,
                        feeling_give: feeling,
                        emoticon_give: emoticon,
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert(response['msg'])
                            window.location.href = '/';
                        } else if (response['result'] == 'fail') {
                            alert(response['msg'])
                        }
                    }
                })
            } else {
                // 일지 수정 요청
                let writer = userID;
                let date = getToday();
                let dev_title = $("#dev_title").val();
                if (dev_title === "") {
                    alert("제목을 입력해주세요.");
                    return;
                }
                let category = $("#category").val();
                if (category === "") {
                    alert("카테고리를 선택해 주세요");
                    return;
                }
                let myGoal = $("#myGoal").val();
                let todayLearned = $("#todayLearned").val();
                let todoList = $("#todoList").val();
                let feeling = $("#emotion").val();
                let emoticon = $("#emoticon").val();

                $.ajax({
                    type: "PUT",
                    url: '/mydev/write/' + '{{devid}}',
                    data: {
                        writer_give: writer,
                        date_give: date,
                        title_give: dev_title,
                        category_give: category,
                        goal_give: myGoal,
                        todayLearned_give: todayLearned,
                        todoList_give: todoList,
                        feeling_give: feeling,
                        emoticon_give: emoticon,
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert(response['msg'])
                            window.location.href = '/mydev/' + '{{devid}}'
                        } else if (response['result'] == 'fail') {
                            alert(response['msg'])
                        }
                    }
                })
            }
        }

        function getPost() {
            console.log('write page get post')
            let devID = '{{devid}}';
            console.log('dev id = ' + devID)
            if (devID !== "")
                $.ajax({
                    type: "POST",
                    url: '/mydev/read/' + devID,
                    data: {},
                    success: function (response) {
                        let result = response['result'];
                        let success = result['success'];
                        if (success === 'true') {
                            let devday = result['data']
                            let title = devday['subject']
                            let category = devday['category']
                            let goal = devday['memo1']
                            let todayLearned = devday['memo2']
                            let todo = devday['memo3']
                            let feeling = devday['feeling']
                            let emoticon = devday['emoticon']
                            let date = devday['date']

                            writeDate = date

                            $("#dev_title").val(title);
                            $("#category").val(category);
                            $("#myGoal").val(goal);
                            $("#todayLearned").val(todayLearned);
                            $("#todoList").val(todo);
                            $("#emotion").val(feeling);
                            $("#emoticon2").append(emoticon);
                            //$("#emoticon2").append(`&#x1F637;`);
                        }
                    }
                })
        }

        function cancel_post(url) {
            if (confirm("작성을 그만 두시겠습니까?")) {
                location.href = url;
            } else {
            }
        }

        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            /*
            $.removeCookie('mytoken');
            alert('로그아웃이 되었습니다!')

             */
            //delete_cookie('mytoken')
            window.location.href = '/user'
        }

        function delete_cookie(name, path, domain) {
            console.log('try')
            if (get_cookie(name)) {
                console.log('')
                document.cookie = name + "=" +
                    ((path) ? ";path=" + path : "") +
                    ((domain) ? ";domain=" + domain : "") +
                    ";expires=Thu, 01 Jan 1970 00:00:01 GMT";
            }
            console.log('end')
        }

        function get_cookie(name) {
            return document.cookie.split(';').some(c => {
                return c.trim().startsWith(name + '=');
            });
        }

        function check_login() {
            $.ajax({
                type: 'POST',
                url: '/user/islogin',
                data: {},
                success: function (response) {
                    let result = response['result'];
                    let success = result['success'];
                    let message = result['message'];
                    if (success == 'true') {
                        $('#for_loginuser').show();
                    } else {
                        $('#for_notloginuser').show();
                    }
                }
            });
        }

        function CallGetUserInfoAPI() {
            // 사용자 정보 요청 ajax API Call하여 사용자 정보 json 데이터 받아 화면 갱신하기
            $.ajax({
                type: 'POST',
                url: '/user/info',
                async: false,
                data: {},
                success: function (response) {
                    let result = response['result'];
                    let success = result['success'];
                    let message = result['message'];
                    if (success == 'true') {
                        let userinfo = result['row'][0];
                        let user_id = userinfo['user_id']
                        let user_name = userinfo['user_name']

                        userName = user_name;
                        userID = user_id;

                        let temp_html = `
                                <a href="/user/data" id="logname">${user_id}</a>
                                <a href="#" id="logout" onclick="logout();">로그아웃</a>`
                        $("#for_loginuser").append(temp_html)
                    } else {
                        let temp_html = `로그인된 사용자 정보가 없습니다.`
                        $("#for_loginuser").append(temp_html)
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="header-wrap">
    <header>
        <a href="/" id="titlelogo">
            <img class="logo-img" src="/static/css/MyDev/img/logo.png" alt="로고"/>
            <h1>MyDevDay</h1><small>한땀한땀<br>개발일지</small>
        </a>
        <nav id="for_loginuser">
            <a href="/mydev/write">글 쓰기</a>
            <a href="/mydev">내 글 목록</a>
        </nav>
        <nav id="for_notloginuser">
            <a href="/user" id="user_name">로그인</a>
            <a href="/user/signup">회원가입</a>
        </nav>
    </header>
</div>
<div class="board_wrap">
    <div class="board_write_wrap">
        <div class="board_write">
            <div class="title">
                <dl>
                    <dd><textarea id="dev_title" class="autosize" onkeydown="resize(this)" onkeyup="resize(this)"
                                  placeholder="제목"></textarea></dd>
                    <form>
                        <div>
                            카테고리
                        </div>
                        <select id="category" name="category">
                            <option value="">-- 선택하세요 --</option>
                            <option value="web">웹 개발</option>
                            <option value="algorithm">알고리즘</option>
                            <option value="app">앱 개발</option>
                            <option value="computer">컴퓨터 공학</option>
                            <option value="etc">기타</option>
                        </select>
                    </form>
                </dl>
            </div>
            <div class="goal">
                <dl>
                    <dd><input id="myGoal" type="text" placeholder="나의 꿈(목표)"></dd>
                </dl>
            </div>
            <div class="today-learn">
                <div>
                    <dt>오늘 배운 것</dt>
                </div>
                <textarea id="todayLearned" placeholder="오늘 배운것 요약"></textarea>
            </div>
            <div class="spacer"></div>
            <div class="to-do-list">
                <div>
                    <dt>To do List</dt>
                </div>
                <textarea id="todoList" placeholder="To do List"></textarea>
            </div>

            <div class="spacer"></div>

            <div class="emotion">
                <dl>
                    <dt>오늘의 감정</dt>
                    <dd><input id="emotion" type="text" placeholder="오늘 느낀 감정"></dd>
                </dl>

                <dl>
                    <dt>이모티콘</dt>
                    <dd><input readonly id="emoticon" type="text" placeholder="" value="&#x1F601;"></dd>
                </dl>
            </div>

            <div class="emoticon_wrap">
                <div class="emoticon">
                    <section>
                        <a onclick="getEmoticon(this)">&#x1F601;</a>
                        <a onclick="getEmoticon(this)">&#x1F602;</a>
                        <a onclick="getEmoticon(this)">&#x1F603;</a>
                        <a onclick="getEmoticon(this)">&#x1F604;</a>
                        <a onclick="getEmoticon(this)">&#x1F605;</a>
                        <a onclick="getEmoticon(this)">&#x1F606;</a>
                        <a onclick="getEmoticon(this)">&#x1F609;</a>
                        <a onclick="getEmoticon(this)">&#x1F60A;</a>
                        <a onclick="getEmoticon(this)">&#x1F60B;</a>
                        <a onclick="getEmoticon(this)">&#x1F60C;</a>
                        <a onclick="getEmoticon(this)">&#x1F60D;</a>
                        <a onclick="getEmoticon(this)">&#x1F60F;</a>
                        <a onclick="getEmoticon(this)">&#x1F612;</a>
                        <a onclick="getEmoticon(this)">&#x1F613;</a>
                        <a onclick="getEmoticon(this)">&#x1F614;</a>
                        <a onclick="getEmoticon(this)">&#x1F616;</a>
                        <a onclick="getEmoticon(this)">&#x1F618;</a>
                        <a onclick="getEmoticon(this)">&#x1F61A;</a>
                        <a onclick="getEmoticon(this)">&#x1F61C;</a>
                        <a onclick="getEmoticon(this)">&#x1F61D;</a>
                        <a onclick="getEmoticon(this)">&#x1F61E;</a>
                        <a onclick="getEmoticon(this)">&#x1F620;</a>
                        <a onclick="getEmoticon(this)">&#x1F621;</a>
                        <a onclick="getEmoticon(this)">&#x1F622;</a>
                        <a onclick="getEmoticon(this)">&#x1F623;</a>
                        <a onclick="getEmoticon(this)">&#x1F624;</a>
                        <a onclick="getEmoticon(this)">&#x1F625;</a>
                        <a onclick="getEmoticon(this)">&#x1F628;</a>
                        <a onclick="getEmoticon(this)">&#x1F629;</a>
                        <a onclick="getEmoticon(this)">&#x1F62A;</a>
                        <a onclick="getEmoticon(this)">&#x1F62B;</a>
                        <a onclick="getEmoticon(this)">&#x1F62D;</a>
                        <a onclick="getEmoticon(this)">&#x1F630;</a>
                        <a onclick="getEmoticon(this)">&#x1F631;</a>
                        <a onclick="getEmoticon(this)">&#x1F632;</a>
                        <a onclick="getEmoticon(this)">&#x1F633;</a>
                        <a onclick="getEmoticon(this)">&#x1F635;</a>
                        <a onclick="getEmoticon(this)">&#x1F637;</a>
                    </section>
                </div>
            </div>


            <div class="bt_wrap">
                <a onclick="write_post()" class="on">작성 하기</a>
                <a onclick="cancel_post('/')" class="on" style='cursor:pointer;'>취소</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>