* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Korean', sans-serif;
}

h1, p, div {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#titlelogo {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 5%;
}

header {
    height: 84px;
    padding: 1rem;
    background: #B4DADC;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    align-self: end;
}

header .logo-img {
    height: 50px;
    margin-right: 5px;
    /*margin-top: 20px;*/
}

header h1 {
    font-size: 35px;
}

header small {
    margin-left: 5px;
    font-weight: lighter;
}

.front_title {
    margin-top: 20px;
    margin-left: 5%;
    font-weight: 700;
}

.container {
    padding: 0px;
    margin: auto;
    margin-top: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}


.card {
    background-color: #B4DADC;
    width: 30%;
    min-width: 300px;
    height: 160px;
    min-height: 280px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.card:hover {
    cursor: pointer;
}

.card-top {
    background-color: white;
    /*width: 25%;*/
    min-width: 280px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*1조합*/
.web {
    background-color: #B4DADC;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
}

.algorithm {
    background-color: #ffeaa7;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
}

.app {
    background-color: #fab1a0;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
}

.computer {
    background-color: #55efc4;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
}

.etc {
    background-color: #74b9ff;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
}

/*2조합*/
/*.web{*/
/*    background-color: #7FD9D6;*/
/*}*/
/*.algorithm{*/
/*    background-color: #80CEBE;*/
/*}*/
/*.app{*/
/*    background-color: #9FDEBD;*/
/*}*/
/*.computer{*/
/*    background-color: #C4F2CE;*/
/*}*/
/*.etc{*/
/*    background-color: #EFF4E7;*/
/*}*/

.card-body {
    background-color: white;
    /*width: 80%;*/
    min-width: 280px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 700;
    font-size: 20px;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-bottom {
    background-color: white;
    /*width: 40%;*/
    min-width: 250px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h3 {
    margin-bottom: 20px;
    font-size: 2rem;
}